:root {
  --bg-container: #007d9c;
  --bg-main: #d8e4fa;
  --text-main: #464646;
  --color-gold: #bdae82;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  background: var(--bg-main);
  color: var(--text-main);
  font: normal normal 20px/40px 'Poppins', 'Roboto', Verdana, sans-serif;
}

.container {
  inline-size: calc(100% - 40px);
  max-inline-size: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  padding: 5px 20px;
  block-size: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-container);
  color: var(--color-white);
}

.nav {
  inline-size: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.main {
  min-block-size: calc(100vh - 120px);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}

.footer-container {
  block-size: 60px;
  color: var(--color-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 5px 20px;
  background-color: var(--bg-container);
}

.footer-moves {
  display: flex;
  gap: 20px;
}