:root {
  --bg-container: #007d9c;
  --bg-main: #d8e4fa;
  --bg-overlay: #2c2929bd;
  --text-main: #464646;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvh;
  background: var(--bg-main);
  color: var(--text-main);
  font: normal normal 20px/40px 'Poppins', 'Roboto', Verdana, sans-serif;
}

.container {
  inline-size: calc(100% - 40px);
  max-inline-size: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-container);
  color: var(--color-white);
}

.nav {
  inline-size: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover {
  color: var(--text-main);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.game-board {
  max-inline-size: 560px;
  inline-size: 100%;
  block-size: clamp(25rem, 6.637rem + 77.32vi, 43.75rem);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  perspective: 1200px;
}

.card {
  position: relative;
  inline-size: calc(25% - 8px);
  block-size: calc(25% - 8px);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: url(assets/img/pointer.png) 7 0, pointer;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.3s;
}

.card.flip {
  transform: rotateY(180deg);
}

.back,
.face {
  position: absolute;
  padding: 5px;
  inline-size: 100%;
  block-size: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: rgba(204, 204, 180, 0.5);
}

.face {
  transform: rotateY(180deg);
  background: #f4f1fc;
}

.footer-container {
  color: var(--color-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg-container);
}

.footer-moves,
.footer-pairs {
  display: flex;
  gap: 20px;
  inline-size: 120px;
}

.modal {
  margin: auto;
  border: none;
  inline-size: 500px;
  border-radius: 40px;
  background-color: var(--bg-container);
  color: var(--color-white);
  opacity: 0;
  transform: translateY(700px);
  transition: all 0.5s ease-in-out;
}

.modal:open {
  opacity: 1;
  transform: translateY(0);
}

@starting-style {
  .modal:open {
    opacity: 0;
    transform: translateY(700px);
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 16px;
}

.modal-buttons {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}

.button {
  inline-size: 140px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  font: inherit;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--bg-main);
}

.modal::backdrop {
  background-color: var(--bg-overlay);
}

.modal .modal-new-game {
  display: none;
}

.modal.win .modal-new-game {
  display: block;
}

.modal-th,
.modal-td {
  padding-inline: 10px;
  text-align: center;
}