:root {
  --bg-container: #007d9c;
  --bg-main: #d8e4fa;
  --text-main: #464646;
  --color-gold: #bdae82;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvh;
  background: var(--bg-main);
  color: var(--text-main);
  font: normal normal 20px/40px 'Poppins', 'Roboto', Verdana, sans-serif;
}

.container {
  inline-size: calc(100% - 40px);
  max-inline-size: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-container);
  color: var(--color-white);
}

.nav {
  inline-size: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.game-board {
  inline-size: 560px;
  block-size: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  perspective: 1200px;
}

.card {
  position: relative;
  inline-size: calc(25% - 8px);
  block-size: calc(25% - 8px);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: url(assets/img/pointer.png) 7 0, pointer;
}

.back,
.face {
  position: absolute;
  padding: 5px;
  inline-size: 100%;
  block-size: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: rgba(204, 204, 180, 0.5);
}

.face {
  transform: rotateY(180deg);
  background: #f4f1fc;
}

.footer-container {
  color: var(--color-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--bg-container);
}

.footer-moves,
.footer-pairs {
  display: flex;
  gap: 20px;
}